.sprite-page2-building {
   background: url(../images/sprite-page2.png) no-repeat 0 0;
   background-size: 28.506667rem 18.680000rem;
   width: 10.000000rem;
   height: 9.746667rem;
}
.sprite-page2-d {
   background: url(../images/sprite-page2.png) no-repeat -19.480000rem -15.386667rem;
   background-size: 28.506667rem 18.680000rem;
   width: 3.400000rem;
   height: 0.880000rem;
}
.sprite-page2-m1 {
   background: url(../images/sprite-page2.png) no-repeat -10.133333rem 0;
   background-size: 28.506667rem 18.680000rem;
   width: 9.213333rem;
   height: 8.800000rem;
}
.sprite-page2-m2 {
   background: url(../images/sprite-page2.png) no-repeat 0 -9.880000rem;
   background-size: 28.506667rem 18.680000rem;
   width: 9.213333rem;
   height: 8.800000rem;
}
.sprite-page2-m3 {
   background: url(../images/sprite-page2.png) no-repeat -9.346667rem -9.880000rem;
   background-size: 28.506667rem 18.680000rem;
   width: 8.786667rem;
   height: 8.786667rem;
}
.sprite-page2-m4 {
   background: url(../images/sprite-page2.png) no-repeat -19.480000rem 0;
   background-size: 28.506667rem 18.680000rem;
   width: 9.026667rem;
   height: 8.480000rem;
}
.sprite-page2-op-tip {
   background: url(../images/sprite-page2.png) no-repeat -19.480000rem -8.613333rem;
   background-size: 28.506667rem 18.680000rem;
   width: 7.226667rem;
   height: 6.640000rem;
}
.sprite-page2-pos1 {
   background: url(../images/sprite-page2.png) no-repeat -26.840000rem -11.826667rem;
   background-size: 28.506667rem 18.680000rem;
   width: 0.880000rem;
   height: 2.520000rem;
}
.sprite-page2-pos2 {
   background: url(../images/sprite-page2.png) no-repeat -19.480000rem -16.400000rem;
   background-size: 28.506667rem 18.680000rem;
   width: 0.880000rem;
   height: 2.106667rem;
}
.sprite-page2-pos3 {
   background: url(../images/sprite-page2.png) no-repeat -20.493333rem -16.400000rem;
   background-size: 28.506667rem 18.680000rem;
   width: 0.880000rem;
   height: 2.106667rem;
}
.sprite-page2-pos4 {
   background: url(../images/sprite-page2.png) no-repeat -26.840000rem -8.613333rem;
   background-size: 28.506667rem 18.680000rem;
   width: 0.880000rem;
   height: 3.080000rem;
}
