.sprite-page1-bird1 {
   background: url(../images/sprite-page1.png) no-repeat -8.480000rem -9.880000rem;
   background-size: 10.000000rem 27.333333rem;
   width: 0.546667rem;
   height: 0.360000rem;
}
.sprite-page1-btn-restart {
   background: url(../images/sprite-page1.png) no-repeat -1.413333rem -9.880000rem;
   background-size: 10.000000rem 27.333333rem;
   width: 3.400000rem;
   height: 0.880000rem;
}
.sprite-page1-btn-share {
   background: url(../images/sprite-page1.png) no-repeat -4.946667rem -9.880000rem;
   background-size: 10.000000rem 27.333333rem;
   width: 3.400000rem;
   height: 0.880000rem;
}
.sprite-page1-building {
   background: url(../images/sprite-page1.png) no-repeat 0 0;
   background-size: 10.000000rem 27.333333rem;
   width: 10.000000rem;
   height: 9.746667rem;
}
.sprite-page1-choose-title {
   background: url(../images/sprite-page1.png) no-repeat -1.413333rem -10.893333rem;
   background-size: 10.000000rem 27.333333rem;
   width: 5.906667rem;
   height: 0.426667rem;
}
.sprite-page1-fd-person {
   background: url(../images/sprite-page1.png) no-repeat -1.413333rem -11.453333rem;
   background-size: 10.000000rem 27.333333rem;
   width: 8.546667rem;
   height: 0.253333rem;
}
.sprite-page1-flag-bar {
   background: url(../images/sprite-page1.png) no-repeat 0 -9.880000rem;
   background-size: 10.000000rem 27.333333rem;
   width: 1.280000rem;
   height: 17.453333rem;
}
.sprite-page1-pos1 {
   background: url(../images/sprite-page1.png) no-repeat -1.413333rem -11.840000rem;
   background-size: 10.000000rem 27.333333rem;
   width: 0.880000rem;
   height: 2.520000rem;
}
.sprite-page1-pos3 {
   background: url(../images/sprite-page1.png) no-repeat -2.426667rem -11.840000rem;
   background-size: 10.000000rem 27.333333rem;
   width: 0.880000rem;
   height: 2.106667rem;
}
